.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-table {
  padding: 20px;
  background-color: #2196f3; /* Azul */
  color: white;
  border-radius: 5px;
  overflow-x: auto; /* Habilita el desplazamiento horizontal si el contenido es más ancho que el contenedor */
  text-align: center; /* Centra el contenido de las celdas */

}

.mat-header-cell, .mat-cell {
  padding: 10px;
}

.mat-header-row, .mat-row {
  background-color: #1565c0; /* Azul más oscuro */
}

.mat-header-cell, .mat-cell, .mat-row {
  border-bottom: 1px solid #64b5f6; /* Línea de separación */
}

/* Estilos para el botón */
.custom-button {
  background-color: white;
  color: #2196f3; /* Azul */
}

/* Estilos para el icono del botón */
.mat-icon-button {
  color: white;
}

/* Estilos para la celda de acciones */
.action-cell {
  text-align: center;
}

/* Estilos para el contenedor de la tabla */
.custom-table {
  text-align: center;
}
