.sticky-header {
  position: sticky;
  z-index: 1000;
  height: 60px; /* Ajusta la altura según sea necesario */
  top: 0;
  background-color: rgb(29, 110, 128);
}
.sticky-header h1 {
  color: whitesmoke;
  margin: 0; /* Elimina el margen superior e inferior del título */
  padding: 10px; /* Ajusta el relleno del título según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.items-table {
  padding: 20px;
  background-color: rgb(29, 110, 128);
  color: white;
  border-radius: 5px;
  overflow-x: auto;
  text-align: center;
}
.search-and-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-icon {
  color: white;
}

.search-field {
  flex: 0.5;
  margin-right: 8px;
}
.white-header {
  justify-content: center;
  align-items: center;
  color: rgb(29, 110, 128);
  background-color: whitesmoke;
  text-align: center;
}
.mat-header-cell,
.mat-cell {
  padding: 10px;
}

.header-cell {
  background-color: whitesmoke;
}
.mat-header-row,
.mat-row {
  color: rgb(29, 110, 128);
  background-color: white;
}

.mat-header-cell,
.mat-cell,
.mat-row {
  border-bottom: 1px solid #64b5f6;
}

.add-item-button {
  background-color: white;
  color: rgb(29, 110, 128);
}

.edit-delete-icon {
  color: rgb(29, 110, 128);
}
.data-cell {
  background-color: white;
  color: rgb(29, 110, 128);
}
