.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-form {
    width: 400px;
    padding: 20px;
    background-color: #2196f3; 
    color: white;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-checkbox-layout {
    color: white;
  }
  .custom-button {
    background-color: white;
    color: #2196f3; /* Azul */
    margin-left: auto;
  }

  .button-container {
    text-align: center;
  }